<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 footer-info">
          <img src="../../../../assets/images/logo.png" class="img-fluid" />
          <p>
            فروشگاه اینترنتی گوشی24 فعالیت خود را از سال 1403 در حوزه فروش آنلاین انواع گوشی موبایل، لوازم جانبی گوشی و
            تبلت و... آغاز نموده است. گوشی24 فعال در حوزه بازاریابی و فروش انواع گوشی موبایل می باشد. ارسال رایگان درشهر
            خرم آباد و ارسال سریع و آسان به تمام نقاط ایران، تامین کالاهای با کیفیت از برند های معتبر اپل، نوکیا،
            شیائومی، سامسونگ و.. می باشد. گوشی24 فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی
            نیازهای مشتریان را فراهم نماید. گوشی24 بعنوان یک فروشگاه اینترنتی رعایت جانب انصاف و صداقت بعنوان اصلی ترین
            پایه این اعتماد را سرلوحه کار خود می داند.(مدیریت بهرام فرهادی با 12 سال سابقه فروش گوشی موبایل)
          </p>
          <div class="social-links d-flex mt-3">
            <a href="mailto:info@goshi24.com"><i class="bx bx-envelope"></i></a>
            <a href="https://www.instagram.com/goshi24.com/"><i class="bx bxl-instagram"></i></a>
            <a href="https://t.me/goshi24"><i class="bx bxl-telegram"></i></a>
            <a href="https://wa.me/989351063294"><i class="bx bxl-whatsapp"></i></a>
            <a href="tel:+989351063294"><i class="bx bx-phone"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-12 text-md-end">
          <h4>راه های ارتباطی</h4>
          <p>
            آدرس :
            خرم آباد، خیابان مطهری پاساژ آرش طبقه همکف<br>
            ساعات کار فروشگاه :
            7 روز هفته 24 ساعته<br>
            شماره همراه: 09351063294
          </p>
        </div>
        <div class="col-lg-3 col-md-12 text-center text-md-end">
     
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">
      <div class="copyright">
        © تمام حقوق مادی و معنوی این سایت متعلق به فروشگاه گوشی24 می باشد. </div>
      <div class="credits">
        طراحی و پیاده سازی توسط <a href="https://apprad.ir/">apprad.ir</a>
      </div>
    </div>
  </div>

</footer>