<section class="container">
    <div class="box wow fadeInUp">
        <div class="item" routerLink="/profile/account">
            <i class="pi pi-user text-blue-500 bg-blue-100"></i>
            <span>پروفایل</span>
        </div>
        <div class="item" routerLink="/profile">
            <i class="pi pi-wallet text-cyan-500 bg-cyan-100"></i>
            <span>کیف پول</span>
        </div>
        <div class="item">
            <i class="pi pi-shopping-bag text-orange-500 bg-orange-100"></i>
            <span>سفارش ها</span>
        </div>
        <div class="item">
            <i class="pi pi-bell bg-purple-100 text-purple-500"></i>
            <span>پیغام</span>
        </div>
    </div>
</section>