<section class="container">
  <div class="box wow fadeInUp">

    <div class="item ">
      <img src="../../../../assets/images/pay.png" class="img-fluid">
      <div class="text">
        <h6>قیمت مناسب</h6>
        <p>بهترین قیمت</p>
      </div>
    </div>

    <div class="item">
      <img src="../../../../assets/images/support.png" class="img-fluid">
      <div class="text">
        <h6>پشتیبانی و مشاوره </h6>
        <p>هر روز 24 ساعته</p>
      </div>
    </div>

    <div class="item">
      <img src="../../../../assets/images/delivery.png" class="img-fluid">
      <div class="text">
        <h6>تحویل سریع</h6>
        <p>ارسال سراسر کشور</p>
      </div>
    </div>

    <div class="item">
      <img src="../../../../assets/images/card.png" class="img-fluid">
      <div class="text">
        <h6>امنیت پرداخت</h6>
        <p>پیگیری پرداخت</p>
      </div>
    </div>

    <div class="item">
      <img src="../../../../assets/images/verify.png" class="img-fluid">
      <div class="text">
        <h6>تضمین کیفیت</h6>
        <p>تضمین اصالت</p>
      </div>
    </div>

    <div class="item">
      <img src="../../../../assets/images/disc.png" class="img-fluid">
      <div class="text">
        <h6>تخفیف فصلی</h6>
        <p>پیشنهاد ویژه</p>
      </div>
    </div>

  </div>
</section>