<p-toast position="center"></p-toast>

<section class="login">
  <div class="row">
    <div class="col-lg-12 text-center">
      <img src="../../../assets/images/logo.png" alt="Logo" />
      <form [formGroup]="form" (ngSubmit)="sendSMS()">
        <div class="input-container">
          <span class="p-float-label">
            <input type="text" pInputText pKeyFilter="num" formControlName="mobile" maxlength="11" minlength="11"
              required>
            <label>شماره همراه</label>
          </span>
          <div class="mt-5 text-center">
            <button type="submit" class="btn btn-login">ورود</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


<p-dialog [(visible)]="display">
  <div class="verify">
    <p>یک کد تایید به شماره همراه شما ارسال شد</p>
    <form [formGroup]="verifyForm" (ngSubmit)="onVerifyCode()">
      <div class="mt-4 mb-2 align-items-center text-center">
        <input type="text" pInputText maxlength="5" minlength="5" formControlName="code" />
        <p class="mt-3">00:{{ timer }}</p>
      </div>
      <div class="mb-4 align-items-center text-center">
        <button type="submit" class="btn btn-login" [disabled]="!verifyForm.valid">تایید</button>
      </div>
    </form>
    <div class="mt-2 text-center">
      {{code}}
      <p class="text-danger" *ngIf="invalidSMS">
        کد وارد شده اشتباه می باشد.
      </p>
      <a (click)="sendSMS()" *ngIf="resendSMS">ارسال مجدد کد</a>
    </div>
  </div>
</p-dialog>